if (currencyFormatTypeOverride)
	- var currencyFormatTypeInt = currencyFormatTypeOverride
else
	- var currencyFormatTypeInt = currencyFormatType;

- var currencyFormatInfo = utils.getCurrencyFormatInfo(currencyFormatTypeInt);

if (currencyValue > 0)
	if (currencyValueDecimals)
		- var parts = utils.formatCurrencyAmountWithForcedDecimalPlaces(currencyValue, currencyFormatTypeInt, currencyValueDecimals);
	else
		- var parts = utils.formatCurrencyAmount(currencyValue, currencyFormatTypeInt);

	span.text-monospace #{parts.val}
	if (parts.lessSignificantDigits)
		span.text-monospace.text-small(style="margin-left: 2px;") #{parts.lessSignificantDigits}

	if (currencyFormatInfo.type == "native")
		if (exchangeRates)
			small.border-dotted.ml-1(data-toggle="tooltip", title=utils.formatExchangedCurrency(currencyValue, "usd")) #{parts.currencyUnit}#{currencyUnitSuffix}

		else
			small.ml-1 #{parts.currencyUnit}#{currencyUnitSuffix}

	else if (currencyFormatInfo.type == "exchanged" && currencyFormatInfo.isExtendedRate)
		small.border-dotted.ml-1(data-toggle="tooltip", title=`${utils.formatCurrencyAmount(currencyValue, coinConfig.defaultCurrencyUnit.name).simpleVal} NEX  - Notice the rate is being calculated using the value of NEX in USD multiplied by the value of USD in ${parts.currencyUnit}`) #{parts.currencyUnit}

	else if (currencyFormatInfo.type == "exchanged")
		small.border-dotted.ml-1(data-toggle="tooltip", title=`${utils.formatCurrencyAmount(currencyValue, coinConfig.defaultCurrencyUnit.name).simpleVal} NEX`) #{parts.currencyUnit}

else
	span.text-monospace 0
