a {
	color: #60a5fa !important;
}

.nexa-blue {
	color: #3b82f6 !important;
}

.nexa-yellow {
	color: #fcd34d !important;
}

#data-progress {
	background-color: #6F6577;
}

.popover-header {
	background-color: #3C2F48 !important;
}
.popover {
	background-color: #3C2F48;
	border-color: white !important;
}

.border-primary {
	border-color: #6F6577 !important;
}

.page-item.active .page-link {
	background: rgb(19,94,137) !important;
	background: linear-gradient(90deg, rgba(19,94,137,1) 0%, rgba(139,92,246,1) 100%)!important;
	color: #fff !important;
	font-weight: bold !important;
}

.btn-primary {
	background: rgb(19,94,137) !important;
	background: linear-gradient(90deg, rgba(19,94,137,1) 0%, rgba(139,92,246,1) 100%) !important;
	color: white !important;
	font-weight: bold !important;
}

.show>.btn-outline-primary.dropdown-toggle  {
	/* background-color: #2e2634; */
	border: 2px solid #2e2634;
}

.btn-outline-primary {
	/* color: #fcd34d !important; */
	/* background-color: #2e2634 ; */
	border: 2px solid rgba(154,155,156,0);
}

.btn-outline-primary:hover {
	background-color: black ;
	border:2px solid grey;
}
.btn-outline-warning:hover{
	color:#14181c !important;
	background-color: black;
}

.dropdown-menu {
	background-color: #282828;
}

a.dropdown-item {
	color:white !important;
}
a.dropdown-item:hover {
	color:white;
	background-color: #1a1a1a;
}
.form-control {
	color: #fcd34d !important;
	/* background-color: #2e2634 ; */
}

.bg-primary {
	background-color: #2563eb !important;
	color: white;
	font-weight: bold;
}

.card-body {
	background-color: #282828 !important;
}

.card {
	background-color: #282828 !important;
}

.table {
	background-color: rgba(0,0,0,0) !important;
	color: #d0e2e8 !important;
}

hr {
	background-color: #555555;
}

.nav-tabs .nav-link.active {
	border:none;
}
.nav-tabs{
	border:none;
}

.nav-link{ 
	border:none;
	padding:12px;
}

.stats-card {
	border-radius: 6px 6px 6px 6px !important;
	border: none !important;
}

.tab-card {
	border-radius: 0px 6px 6px 6px !important;
	border: none !important;
}

.borderless-card {
	border: none !important;
}

.body-bg-color {
	background-color: #14181c;
	/*background: hsla(240, 50%, 5%, 1); /* Fallback solid color for dark theme */
    /*background-image:
            /*radial-gradient(circle at 25% 50%, hsla(290, 100%, 10%, 1) 0%, transparent 70%),
            /*radial-gradient(circle at 50% 50%, hsla(201, 100%, 5%, 1) 30%, transparent 70%),
            /*radial-gradient(circle at 75% 50%, hsla(240, 50%, 5%, 1) 50%, transparent 90%),
            /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) 70%); /* Adjusted dark overlay */
    /* background-size: 100% 300%; */
    /* background-repeat: no-repeat; */
}

.main-layout {
    background: hsla(201, 100%, 5%, 1); /* Fallback solid color for dark theme */
    background-image:
            radial-gradient(circle at 25% 50%, hsla(290, 100%, 10%, 1) 0%, transparent 70%),
            radial-gradient(circle at 50% 50%, hsla(240, 50%, 5%, 1) 30%, transparent 70%),
            radial-gradient(circle at 75% 50%, hsla(201, 100%, 5%, 1) 50%, transparent 90%),
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) 70%); /* Adjusted dark overlay */
    background-size: 100% 300%;
    background-repeat: no-repeat;
}


.data-tag {
	color: #111 !important;
	border-color: #cccccc !important;
}

.data-tag.bg-dark {
	background-color: #cccccc !important;
}

.alert {
	opacity: 0.8 !important;
}

hr {
	border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.hljs-attr {
	color: #eeeeee;
}

.hljs, .hljs-subst {
	color: #dddddd;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
	color: #95dbc6;
}

.bg-secondary {
	background-color: #707d8f!important;
}

.border-secondary {
	border-color: #707d8f!important;
}

.json {
	background-color: #1a1a1a !important;
}

.stats-background {
	background-color: #1a1a1a !important;
	border-radius: 6px 6px 6px 6px !important;
	border: none !important;
	padding: 10px;
}

.gradient-text {
	background: #FFFFFF;
	background: linear-gradient(to right, #FFFFFF 0%, #135E89 10%, #FFE143 35%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
